<!DOCTYPE html>
<html style="background-color:black;">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.css">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='main.css') }}">

        <!-- Add icon library -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <!-- title icon -->
        <link rel="title icon" type="image/x-icon" href="{{url_for('static',filename='images/logo.png')}}" />
        
        <script src="{{url_for('static', filename='script.js')}}"></script>

        {% if title %}
            <title> Among us - {{ title }} </title>
        {% else %}
            <title> Among us </title>
        {% endif %}
        
    </head>
    <body>
        <script>
       
            var dead = 0
            
            function killPlayer(){
                if(dead == 0){
                    blood_screen = document.getElementById("blood-screen")
                    blood_screen.removeAttribute('hidden')
                    player = document.getElementById("player")
                    player.src = "{{url_for('static', filename='images/Dead0033.png')}}"
                    dead = 1
                }
            }

            let x = 100
            let y = 100
            let starw = 5
            let starh = 5
            let starspeed = 10

            var star_list = []

            let count = 0
            for(let y = 0; y <= window.screen.height; y += starh*50){
                for(let x = 0; x <= window.screen.width; x+= starw*50){
                    star_list[count] = [Math.floor(Math.random() * window.screen.width), y]
                    count += 1
                }
            }

            var playerx = -(Math.floor(Math.random() * 100))
            var playery = 100

            function draw_star(width, height, color, x, y) {
                var canvas = document.getElementById('Canvas');
                this.width = width;
                this.height = height;
                this.x = x;
                this.y = y; 
                ctx = canvas.getContext('2d');
                image = new Image()
                image.src = "{{url_for('static', filename = 'images/star.png')}}"
                ctx.drawImage(image, x, y, width, height);
            }
            
            function updateCanvas() {
                var canvas = document.getElementById('Canvas');
                canvas.getContext('2d').clearRect(0, 0, canvas.width, canvas.height);
                for(let star = 0; star<=star_list.length-1; star+=1){
                    draw_star(20, 20, "white", star_list[star][0], star_list[star][1])
                    star_list[star][1] += starspeed
                    if(star_list[star][1] > window.screen.height){
                        star_list[star][1] = -100
                        star_list[star][0] = Math.floor(Math.random() * window.screen.width);
                    }
                }
                ctx = canvas.getContext('2d');
                image = new Image()
                image.src = "{{url_for('static', filename = 'images/ejected.png')}}"
                ctx.drawImage(image, playerx, playery, 100, 100);
                playerx += 2
                playery += 1
                if(playerx > window.screen.width + 100 || playery > window.screen.height + 100) {
                    playerx = -(Math.floor(Math.random() * 100))
                    playery = (Math.floor(Math.random() * window.screen.height))
                }

            }

            var canvas = document.createElement('canvas');
            canvas.id = "Canvas";
            canvas.width = window.screen.width;
            canvas.height = window.screen.height;
            canvas.style.zIndex = -1;
            canvas.style.position = "absolute";
            canvas.style.border = "0px solid";
            canvas.style.background = "black";
            var body = document.getElementsByTagName("body")[0];
            body.appendChild(canvas);

            setInterval(updateCanvas, 30)

        </script>
        <header>
            <div class="card" style="background-color:#3C4A4A">
                <div class="card-content" style="background-color:#3C4A4A">
                    <nav class="navbar" role="navigation" aria-label="main navigation" style="background-color:#3C4A4A">
                        <div class="navbar-brand">
                            <div class="navbar-item">
                                <a class="navbar-item" href="/home" style="color:red"><strong>Among</strong><strong style="color:green">&nbsp us</strong></a>
                            </div>
                            
                            <a id="burger-btn" class="navbar-burger" style="background-color:#4d6262 !important;" data-target="navbarmenu" onClick="burgerBtnOnClick()">
                                <span aria-hidden="true"></span>
                                <span aria-hidden="true"></span>
                                <span aria-hidden="true"></span>
                            </a>
                        </div>
        
                        <div id="navbarmenu" class="navbar-menu">
                            <div class="navbar-start">
                                <a class="navbar-item graycolor" href="/home" style="color:black">Home</a>
                        
                                <div class="navbar-item has-dropdown is-hoverable">
                                    <a class="navbar-link" style="color:black;">More</a>
                        
                                    <div class="navbar-dropdown graycolor">
                                        <a class="navbar-item graycolor" href="/about" style="color:black">About</a>
                                        <hr class="navbar-divider">
                                        <a class="navbar-item graycolor" href="/reportissue" style="color:black">Report an issue</a>
                                    </div>
                                </div>
        
                            </div>
                            <div class="navbar-end">
                                <div class="navbar-item">
                                    {% if session['logged_in'] %}
                                        <div class="navbar-item has-dropdown is-hoverable" style="margin-right:5px;">
                                            <a class="navbar-link" style="color:red"><strong>{{session.username}}</strong></a>
                                            <div class="navbar-dropdown graycolor">
                                                <a class="navbar-item graycolor" href="/profile?username={{session.username}}" style="color:black;">Profile card</a>
                                                <a class="navbar-item graycolor" href="/psettings" style="color:black">Settings</a>
                                                <hr class="navbar-divider">
                                                <a class="navbar-item graycolor" href="/logout" style="color:black">Logout</a>
                                            </div>
                                        </div>
                                    {% endif %}
                                    <div class="buttons">
                                        {% if not session['logged_in'] %}
                                            <a class="button is-light" href="/sign-up"><strong>Sign up</strong></a>
                                            <a class="button is-light" href="/login"><strong>Log in</strong></a>
                                        {% endif %}
                                        <a class="button is-green" href={{gm_download_link}}>
                                            <span>Download</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </header>
        {% block message_content%}
        {% endblock %}
        <main>
            <div class="tile">
                {% if title %} 
                    {% set main_content_size = "is-1" %}
                    {% set aside_content_size = "is-4" %}
                {% else %}
                    {% set main_content_size = "is-8" %}
                    {% set aside_content_size = "is-4" %}
                {% endif %}
                {% if main_content_size == "is-1"%}
                    <div class="tile is-vertical {{main_content_size}}" style="width:0;">
                {% else %}
                    {% if session['logged_in'] %}
                        <div class="tile is-vertical {{main_content_size}}">  
                    {% else %}
                        <div class="tile is-vertical {{main_content_size}}" style="margin:auto;">  
                    {% endif %} 
                {% endif %}
                    {% block main_content %}
                    {% endblock %}
                    </div>
                <aside class="tile is-vertical {{aside_content_size}}" style="margin:auto;">
                    {% block aside_content %}
                    {% endblock %}
                </aside>
            </div>
        </main>
        <footer class="footer" style="background-color:#3C4A4A;margin-top:10px">
            <div class="content has-text-centered">
                <br>
                <br>
                <br>
                <p>&copy <a href="/about" style="color:lightgreen">Ćazim Hamidović</a>.</p>
                <br>
                <a href="#" class="fa fa-python transparent"></a>
                <a href="#" class="fa fa-jinja transparent"></a>
                <a href="#" class="fa fa-mysql transparent"></a>
                <br>
                <br>
                <br>
                <img class="knife-cursor" id="player" src="{{url_for('static', filename='images/player.png')}}" onClick="killPlayer()">
            </div>
        </footer>
    </body>
    <img id="blood-screen" src="{{url_for('static',filename='/images/blood_screen.png')}}"  hidden style="position:fixed; left:0px; top:0px;" width="100%" height="100%">
</html> 